---
permalink: /
title: ""
# layout: default
# redirect_from: 
#  - /about.html
---

<section id="about" class="home-section">
  {% assign author = site.data.author %}

  <div itemscope itemtype="http://schema.org/Person">
    <div class="my_about_wrap">
      <div class="author__avatar">
        {% if author.avatar contains "://" %}
          {% assign src_img =  author.avatar %}
        {% else %}
          {% assign src_img = author.avatar | prepend: "/assets/images/" | prepend: base_path %}
        {% endif %}
        
        <picture>
          <source type="image/avif" srcset="{{ src_img | append: '.avif' }}">
          <source type="image/webp" srcset="{{ src_img | append: '.webp' }}">
          <img src="{{ src_img | append: '.jpg' }}" width="163" height="200" class="author__avatar" alt="{{ author.name }}">
        </picture>
      </div>
      <div class="aboutme">
        <h2>About me</h2>

        <p>
          I'm an adjunct lecturer at the University of Barcelona, recently graduated from a Master in advanced mathematics.
          In the coming months I will begin my PhD in Mathematics at the University of Barcelona.
        </p>
        
        <div class="author__urls-wrapper">
          <ul class="my_about_urls author__urls social-icons">
            {% if author.email %}
              <li><a href="mailto:{{ author.email }}"><i class="fas fa-fw fa-envelope" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].email_label | default: "Email" }}</a></li>
            {% endif %}
            {% if author.twitter %}
              <li><a href="https://twitter.com/{{ author.twitter }}"><i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i> Twitter</a></li>
            {% endif %}
            {% if author.github %}
              <li><a href="https://github.com/{{ author.github }}"><i class="fab fa-fw fa-github" aria-hidden="true"></i> Github</a></li>
            {% endif %}
            <!-- {% if author.location %}
              <li><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> {{ author.location }}</li>
            {% endif %}
            {% if author.employer %}
              <li><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> {{ author.employer }}</li>
            {% endif %}
            {% if author.uri %}
              <li><a href="{{ author.uri }}"><i class="fas fa-fw fa-link" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].website_label | default: "Website" }}</a></li>
            {% endif %}
            {% if author.keybase %}
              <li><a href="https://keybase.io/{{ author.keybase }}"><i class="fas fa-fw fa-key" aria-hidden="true"></i> Keybase</a></li>
            {% endif %}
            {% if author.researchgate %}
              <li><a href="{{ author.researchgate }}"><i class="fab fa-fw fa-researchgate" aria-hidden="true"></i> ResearchGate</a></li>
            {% endif %}
            {% if author.linkedin %}
              <li><a href="https://www.linkedin.com/in/{{ author.linkedin }}"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i> LinkedIn</a></li>
            {% endif %}
            {% if author.xing %}
              <li><a href="https://www.xing.com/profile/{{ author.xing }}"><i class="fab fa-fw fa-xing-square" aria-hidden="true"></i> XING</a></li>
            {% endif %}
            {% if author.bitbucket %}
              <li><a href="https://bitbucket.org/{{ author.bitbucket }}"><i class="fab fa-fw fa-bitbucket" aria-hidden="true"></i> Bitbucket</a></li>
            {% endif %}
            {% if author.stackoverflow %}
              <li><a href="https://www.stackoverflow.com/users/{{ author.stackoverflow }}"><i class="fab fa-fw fa-stack-overflow" aria-hidden="true"></i> Stackoverflow</a></li>
            {% endif %}
            {% if author.lastfm %}
              <li><a href="https://lastfm.com/user/{{ author.lastfm }}"><i class="fab fa-fw fa-lastfm-square" aria-hidden="true"></i> Last.fm</a></li>
            {% endif %}
            {% if author.dribbble %}
              <li><a href="https://dribbble.com/{{ author.dribbble }}"><i class="fab fa-fw fa-dribbble-square" aria-hidden="true"></i> Dribbble</a></li>
            {% endif %}
            {% if author.pinterest %}
              <li><a href="https://www.pinterest.com/{{ author.pinterest }}"><i class="fab fa-fw fa-pinterest" aria-hidden="true"></i> Pinterest</a></li>
            {% endif %}
            {% if author.foursquare %}
              <li><a href="https://foursquare.com/{{ author.foursquare }}"><i class="fab fa-fw fa-foursquare" aria-hidden="true"></i> Foursquare</a></li>
            {% endif %}
            {% if author.youtube %}
              <li><a href="https://www.youtube.com/user/{{ author.youtube }}"><i class="fab fa-fw fa-youtube" aria-hidden="true"></i> YouTube</a></li>
            {% endif %}
            {% if author.soundcloud %}
              <li><a href="https://soundcloud.com/{{ author.soundcloud }}"><i class="fab fa-fw fa-soundcloud" aria-hidden="true"></i> Soundcloud</a></li>
            {% endif %}
            {% if author.weibo %}
              <li><a href="https://www.weibo.com/{{ author.weibo }}"><i class="fab fa-fw fa-weibo" aria-hidden="true"></i> Weibo</a></li>
            {% endif %}
            {% if author.flickr %}
              <li><a href="https://www.flickr.com/{{ author.flickr }}"><i class="fab fa-fw fa-flickr" aria-hidden="true"></i> Flickr</a></li>
            {% endif %}
            {% if author.codepen %}
              <li><a href="https://codepen.io/{{ author.codepen }}"><i class="fab fa-fw fa-codepen" aria-hidden="true"></i> CodePen</a></li>
            {% endif %}
            {% if author.vine %}
              <li><a href="https://vine.co/u/{{ author.vine }}"><i class="fab fa-fw fa-vine" aria-hidden="true"></i> Vine</a></li>
            {% endif %}
            {% if author.googlescholar %}
              <li><a href="{{ author.googlescholar }}"><i class="fas fa-fw fa-graduation-cap"></i> Google Scholar</a></li>
            {% endif %}
            {% if author.pubmed %}
              <li><a href="{{ author.pubmed }}"><i class="ai ai-pubmed-square ai-fw"></i> PubMed</a></li>
            {% endif %}
            {% if author.orcid %}
              <li><a href="{{ author.orcid }}"><i class="ai ai-orcid-square ai-fw"></i> ORCID</a></li>
            {% endif %}
            {% if author.impactstory %}
              <li><a href="{{ author.impactstory }}"><i class="ai ai-impactstory ai-fw"></i> Impactstory</a></li>
            {% endif %}
            {% if author.wikipedia %}
              <li><a href="https://en.wikipedia.org/wiki/User:{{ author.wikipedia }}"><i class="fab fa-fw fa-wikipedia-w" aria-hidden="true"></i> Wikipedia</a></li>
            {% endif %} -->
          </ul>
        </div>

        <h3>Interests:</h3>
        <ul>
          <li>
            Higher category theory
          </li>
          <li>
            Synthetic homotopy theory
          </li>
          <li>
            Homotopy type theory
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="education" class="home-section">
  <h2>Education</h2>
  <ul>
    <li>
      <strong>Master in Advanced Mathematics</strong>, <em>University of Barcelona</em> (2020 - 2021)
    </li>
    <li>
      <strong>Degree in Mathematics</strong>, <em>University of Barcelona</em> (2014 - 2020)
    </li>
    <li>
      <strong>Degree in Computer Science</strong>, <em>University of Barcelona</em> (2014 - 2020)
    </li>
  </ul>
</section>

<section id="teaching" class="home-section">
  <h2>Teaching</h2>
  <ul>
    <li>
      <strong>Adjunct lecturer</strong>, <em>University of Barcelona</em> (Sep. 2021 - Present)
    </li>
  </ul>
</section>

<!-- <section id="publications" class="home-section">
  Bachelor Thesis
</section> -->

<section id="talks" class="home-section">
  <h2>Talks</h2>
  <ul class="details-list">
    {% assign talks = site.talks | sort: "date" | reverse %}
    {% for talk in talks %}
      <!-- <li><strong>{{ talk.title }}</strong>, <em>{{ talk.event }}</em> ({{ talk.date | date: "%b. %Y" }})</li> -->
      <li>
        <details>
          <summary>
            <time datetime="{{ talk.date | date_to_xmlschema }}">{{ talk.date | date: "%b. %Y" }}</time>. <strong>{{ talk.title }}</strong>, <em>{{ talk.event }}</em>
          </summary>
          <div>
            <p>
              {% if talk.location %}
                <span>
                  <i class="fa fa-fw fa-map-marker-alt" aria-hidden="true"></i>{{ talk.location }}
                </span>
              {% endif %}
              {% if talk.notes %}
                <span>
                  <i class="fa fa-fw fa-file-pdf" aria-hidden="true"></i>
                  <a href="{{ talk.notes | prepend: "/files/talks/" | prepend: base_path }}">Notes</a>
                </span>
              {% endif %}
            </p>
            {% assign content = talk.content | strip_newlines | strip %}
            {% if content != "" %}
              {{ talk.content }}
            {% endif %}
          </div>
        </details>
      </li>
    {% endfor %}
  </ul>
</section>

<section id="posters" class="home-section">
  <h2>Posters</h2>
  <ul class="details-list">
    {% for poster_hash in site.data.posters reversed %}
      {% assign poster = poster_hash[1] %}
      <!-- <li><strong>{{ poster.title }}</strong>, <em>{{ poster.event }}</em> ({{ poster.date | date: "%b. %Y" }})</li> -->
      <li>
        <details>
          <summary>
            <time datetime="{{ poster.date | date_to_xmlschema }}">{{ poster.date | date: "%b. %Y" }}</time>. <strong>{{ poster.title }}</strong>, <em>{{ poster.event }}</em>
          </summary>
          <div>
            <p>
              {% if poster.location %}
                <span>
                  <i class="fa fa-fw fa-map-marker-alt" aria-hidden="true"></i>{{ poster.location }}
                </span>
              {% endif %}
              {% if poster.file %}
                <span>
                  <i class="fa fa-fw fa-file-pdf" aria-hidden="true"></i>
                  <a href="{{ poster.file | prepend: "/files/posters/" | prepend: base_path }}">Document</a>
                </span>
              {% endif %}
            </p>
            {% if poster.abstract %}
              <p>{{ poster.abstract }}</p>
            {% endif %}
          </div>
        </details>
      </li>
    {% endfor %}
  </ul>
</section>
