<meta charset="utf-8">

{% include seo.html %}

<!-- <link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ site.url }}/feed.xml{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed"> -->

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta http-equiv="cleartype" content="on">

<meta name="theme-color" content="#ffffff">

<!-- BEGIN - Icon -->

<link rel="icon" href="/favicon.ico" sizes="any"><!-- 32×32 -->
<link rel="icon" href="/assets/images/icon/icon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="/assets/images/icon/apple-touch-icon.png"><!-- 180×180 -->
<link rel="manifest" href="/manifest.webmanifest">

<!-- END   - Icon -->

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- BEGIN - Strictly loaded CSS files -->

<link rel="stylesheet" href="{{ site.url }}/assets/css/main.css">

<!-- END   - Strictly loaded CSS files -->

<!-- BEGIN - Lazy loaded CSS files -->

<link rel="preload" href="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/fonts/KaTeX_Main-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous">
<!-- <link rel="preload" href="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/fonts/KaTeX_Math-Italic.woff2" as="font" type="font/woff2" crossorigin="anonymous"> -->
<!-- <link rel="preload" href="{{ site.url }}/assets/dependencies/katex/fonts/KaTeX_Main-Regular.woff2" as="font" type="font/woff2">
<link rel="preload" href="{{ site.url }}/assets/dependencies/katex/fonts/KaTeX_Math-Italic.woff2" as="font" type="font/woff2"> -->
<!-- <link rel="preload" href="{{ site.url }}/assets/fonts/academicons.woff" as="font" type="font/woff">
<link rel="preload" href="{{ site.url }}/assets/fonts/fa-brands-400.woff2" as="font" type="font/woff2">
<link rel="preload" href="{{ site.url }}/assets/fonts/fa-solid-900.woff2" as="font" type="font/woff2"> -->

<link rel="preload" href="{{ site.url }}/assets/css/academicons.min.css" as="style" onload="this.rel='stylesheet'">
<link rel="preload" href="{{ site.url }}/assets/css/fontawesome.css" as="style" onload="this.rel='stylesheet'">
<!-- <link rel="preload" href="{{ site.url }}/assets/css/all.min.css" as="style" onload="this.rel='stylesheet'"> -->
<!-- <link rel="preload" href="{{ site.url }}/assets/css/fontawesome.min.css" as="style" onload="this.rel='stylesheet'">
<link rel="preload" href="{{ site.url }}/assets/css/brands.min.css" rel="stylesheet" onload="this.rel='stylesheet'">
<link rel="preload" href="{{ site.url }}/assets/css/solid.min.css" rel="stylesheet" onload="this.rel='stylesheet'"> -->
<!-- <link rel="preload" href="{{ site.url }}/assets/dependencies/katex/katex.min.css" as="style" onload="this.rel='stylesheet'"> -->
<link rel="preload" href="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.min.css" as="style" onload="this.rel='stylesheet'"  crossorigin="anonymous">

<noscript>
  <link rel="stylesheet" href="{{ site.url }}/assets/css/academicons.min.css">
  <link rel="stylesheet" href="{{ site.url }}/assets/css/fontawesome.css">
  <!-- <link rel="stylesheet" href="{{ site.url }}/assets/css/all.min.css"> -->
  <!-- <link rel="stylesheet" href="{{ site.url }}/assets/css/fontawesome.min.css">
  <link rel="stylesheet" href="{{ site.url }}/assets/css/brands.min.css">
  <link rel="stylesheet" href="{{ site.url }}/assets/css/solid.min.css"> -->
  <!-- <link rel="stylesheet" href="{{ site.url }}/assets/dependencies/katex/katex.min.css"> -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.min.css" crossorigin="anonymous">
</noscript>

<!-- END   - Lazy loaded CSS files -->
